/*adjustments for mobile*/
  
@media (max-width: 600px) {
  header, nav, main, footer {
    width: 100%;
    padding: 1rem;
  }

  nav ul {
    flex-direction: column;
    text-align: center;
  }

  h1 {
    font-size: 1.2rem;
  }

  p {
    font-size: 0.95rem;
  }
}


main {
    background-color: #f1bc6b;
}

nav ol {
  display: block;
  text-align: center;
}

.project-item {
  width: 280px;
  background-color: rgb(44, 44, 44);
}