/*adjustments for tablet*/

@media (min-width: 601px) and (max-width: 992px) {
  nav ul {
    gap: 1rem;
  }

  main {
    padding: 1.5rem;
  }

  h1 {
    font-size: 1.6rem;
  }
}

main {
    background-color: #f5ce95;
}

.project-item {
  width: 280px;
  background-color: rgb(71, 71, 71);
}